<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebupt.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.ebupt.entity.Order">
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_name" jdbcType="VARCHAR" property="orderName" />
    <result column="order_des" jdbcType="VARCHAR" property="orderDes" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

  <select id="queryOrderById" resultMap="BaseResultMap">
    SELECT * FROM `order` where order_id = #{orderId};
  </select>

  <update id="updateOrder">
    UPDATE  `order` set status = #{status} WHERE  order_id = #{orderId};
  </update>
  <update id="updateOrderByVersion">
    update `order` set status = #{status} ,version=version+1 where orderId= #{orderId} and version =0
  </update>
  <insert id="insert" parameterType="com.ebupt.entity.Order">
    insert into order (order_id, order_name, order_des,
      status)
    values (#{orderId,jdbcType=VARCHAR}, #{orderName,jdbcType=VARCHAR}, #{orderDes,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ebupt.entity.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderName != null">
        order_name,
      </if>
      <if test="orderDes != null">
        order_des,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null">
        #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderDes != null">
        #{orderDes,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>